@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.socialMediaTags div img{
    width: 20px;
    border-radius: 10px;
    
}

.socialMediaTags{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 70px;
    justify-content: center;
}

.socialMediaTags div img:hover{
    cursor: pointer;
    transform: translateX(5px);
    transition-duration: 1s;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    background-color: white;
    z-index: 100;
    
}

.leftNav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.leftNav{
    margin-left: 300px;
    font-size: 20px;
}

.leftNav ul li:hover{
    cursor: pointer;

}


.flag img{
    width: 23px;
    height: 20px;
    border-radius: 50px;
    
    
}

.flag{

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px;
    border-radius: 50%;
    
    
}

.flipContainer{
    align-items: center;
    margin-top: 140px;
}

.sign span{
    
    font-size: 30px;
    color: red;
    margin-left: 50px;
}

.sign span:hover{
    color: blue;
}

.flag h1{
    font-size: 15px;
}

/* SECTION 1 */

.section1{
    display: flex;
    align-items: center;
    /* gap: 30px; */
    padding: 80px 60px;

}

.sec1Div1{
    margin-top: 30px;
}

.sec1Div1 div img{
    width: 70%;
    transition: transform 0.5s;
}

.sec1Div1 div img:hover{
    transform: rotate(20deg);
    cursor: pointer;
}



.sec1Div2 h1{
    font-size: 40px;
    line-height: 42px;
    background-image: linear-gradient(to right, #ff6b6b, #2e16e6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.sec1Div2 p{
    font-size: 20px;
    color: #2e16e6;
}

.sec1Div2 div button{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: large;
}

/* .sec1Div2 div button:hover{
    background-image: linear-gradient(to right, #ff6b6b, #2e16e6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
    background-color: crimson;
} */

.sec1Div2 div button i{
    margin-left: 8px;
}

.sec1Div2 div a{
    margin-left: 15px;
    
}

.sec1Div2 div a img{
    width: 20px;
    
}
a{
    position: relative;
    font-size: large;
    
}

.sec1Div2 a img{
    position: absolute;
    margin-left: 5px;
    
}












